.container {
    text-align: center;
    padding: 50px;
    display: grid;
    grid-template-columns: 300px 1fr ;

}


.block {
    /*border: 1px solid #000;*/
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

h1 {
    color: #e83a4b;
    margin: 20px 0;
    text-align: center;
}

.query_form {
    margin-top: 50px;
}
.query_form h3 {
    margin: 10px 0;
}

.form_block {
    margin: 10px 0;
}